.nameInput {
    width: 90%;
    height: 4%;
    font-size: 35px;
    text-align: center;
}

.playButton {
    margin-top: 30px;
    width: 80%;
    color: green;
    font-size: 50px;
}

.enterYourNameText {
    margin-bottom: 30px;
    font-size: 90px;
    color: #626362
}
