.container {
    background-color: #99CCFF;
    border: thick solid #808080;
    padding: 20px;
    margin: 20px;
}

.pageRoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh;
    width: 100%;
    z-index: 1;
}

.coverRoot {
    height: 104px;
    width: 140px;
}

.coverImage {
    background: url(../gameCover.webp);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

.logoRoot {
    height: 104px;
}

.logoImage {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
}
